<li class="productList--item">
    <div class="productList--item__name">{{name}}</div>
    <div class="productList--item__price">{{price}}</div>
    <div class="productList--item__id">{{id}}</div>
</li>