<div class="productDetail--container">
    <h1 class="productoDetail--title">Producto Id:{{id}}</h1>
    <div class="productDetail--info">
        <span class="productDetail--info__name">Nombre: {{name}}</span>
        <span class="productDetail--info__price">Precio: {{price}}</span>
    </div>
</div>