<li class="productList--item">
    <div class="productList--item__name">{{productName}}</div>
    <div class="productList--item__price">{{productPrice}}</div>
    <div class="productList--item__id">{{id}}</div>
</li>